body
{
    background-color: #f0f0f0;
    font-family: sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana;
    margin: 0;
    padding: 0;
}
#no-underline
{
    text-decoration: none;
}
.title
{
    text-align: center;

}
.content
{
    font-size: 35px;
    padding:10px;
    display:inline-block;
    transition: ease-out 1s;
}
.content:hover
{
    color: #333;
    font-size:40px;
    transition: ease-in 0.5s;
}
nav
{
    
    border-radius: 4px;
    background-color: #333;
    color: white;
    padding: 4px;
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
li
{
    background-color: aliceblue;
    border-radius: 15px;
    display: inline;
    padding: 8px;
    margin: 10px;
    text-align: center;
    transition: ease-in 0.5s;
}
li:hover
{
    color: white;
    font-size: 20px;
    transition: ease-out 0.5s;
}
main
{
    background-color:darkseagreen;
}

